body {
  font-family: Arial;
  background: #f4f6f8;
}

.container {
  width: 90%;
  background: white;
  margin: 40px auto;
  padding: 20px;
  border-radius: 8px;
}

input, select, button {
  padding: 8px;
  margin: 5px;
}

button {
  background: #2c7be5;
  color: white;
  border: none;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

a {
  margin: 5px;
  display: inline-block;
}